.c1{
    background-color: antiquewhite;
    width: 200px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}
.c2{
    background-color: aqua;
    width: 200px;
}
.container{
    margin-left: 50%;
    margin-top: 10%;
    margin-right: 50%;
    /* margin-bottom: 3%; */
    
}
#in1{
    /* margin-left: 5px; */
    width:200px;
    border: 2px solid black;

}